@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

@layer components {
    .headerHover {
        @apply px-2 h-[80%] flex items-center border border-transparent hover:border-white cursor-pointer duration-100;
    }
    .footerLink {
        @apply text-sm font-titleFont tracking-wide hover:text-gray-100 cursor-pointer hover:underline duration-150;
    }
    .footerBottomTitle {
        @apply w-24 font-semibold text-[12px] group-hover:underline text-[#DDD] leading-3 mb-[2px];
    }
    .productli{
        @apply text-gray-600 hover:text-black text-sm font-medium border-b-[1px] border-b-gray-400 hover:border-b-gray-700 flex items-center justify-end gap-2 hover:cursor-pointer duration-300 w-full;
    }

  .animate-bounce {
    animation: bounce 1s infinite;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: bounce;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
}
    
}


